.main-header {
  margin-bottom: 10px;
}

#infos {
  font-size: 14px;
}

table {
  margin-top: 15px;
}

.bon-add-button {
  color: white;
  text-align: center;
  padding: 8px 0;
  margin-top: 50px;
}
.bon-import-button {
  margin-top: 12px;
  color: white;
  text-align: center;
  padding: 8px 0;
}
